.Contacts {
  padding: 2rem;
}

.contacts-container {
  max-width: 1024px;
  margin: auto;
  background: #fff;
  padding: 2rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.contact-card {
  width: 400px;
  background: #f0f6fa;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.contact-card-title {
  margin-bottom: 0.5rem;
}

.contact-card-icon {
  color: black;
  font-size: 1.5rem;
  margin-right: 0.3rem;
}
