.NavbarItems {
  background: #56ccf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #56ccf2,
    #2f80ed
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 2;
}

.navbar-logo {
  color: aliceblue;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.fa-book {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  background-color: #a7deed;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
  margin-left: 0.5rem;
  font-size: 1.6rem;
  margin-top: 0.3rem;
}

.fa-times {
  color: #fff;
  margin-left: 0.5rem;
  font-size: 2rem;
}

.nav-link-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    background: rgb(166, 216, 232);
    background: linear-gradient(
      45deg,
      rgba(166, 216, 232, 1) 0%,
      rgba(112, 160, 224, 1) 100%
    );
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 550px;
    position: absolute;
    top: 80px;
    left: -1000px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-menu.active {
    background: rgb(166, 216, 232);
    background: linear-gradient(
      45deg,
      rgba(166, 216, 232, 1) 0%,
      rgba(112, 160, 224, 1) 100%
    );
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #a7deed;
    border-radius: 0px;
    transition: all 0.2s ease-out;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.5rem;
    cursor: pointer;
  }

  .nav-link-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    width: 80%;
    background: rgb(232, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(232, 255, 255, 1) 32%,
      rgba(255, 228, 223, 1) 100%
    );
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    border-radius: 8px;
  }

  .nav-link-mobile:hover {
    background: #fff;
    color: #f07b7b;
    transition: 250ms;
  }

  Button {
    display: none;
  }
}
