.FeaturedProduct {
  height: 240px;
  width: 900px;
  padding: 10px;
  z-index: -1;
  cursor: pointer;
  transition: 1s ease;
}

.FeaturedProduct:hover {
  transform: scale(1.03);
  transition: 1s ease;
}

.featured-product-container {
  /* border: 1px solid blue; */
  background-color: white;
  box-sizing: border-box;
  height: 100%;
  margin: auto;
  border-radius: 8px;
  display: flex;
  object-fit: cover;
  box-shadow: 4px 4px 24px -2px rgba(0, 0, 0, 0.47);
}

.featured-product-image {
  height: 100%;
  border-radius: 8px 0 0 8px;
  box-sizing: border-box;
  width: 256px;
}

.featured-product-information {
  border-radius: 0 8px 8px 0;
  width: 644px;
  display: flex;
  flex: 1;
  flex-direction: column;
  box-sizing: border-box;
  padding: 5px;
  box-shadow: inset 46px 0px 19px -41px rgba(0, 0, 0, 0.45);
}

.featured-product-display-block {
  display: flex;
  min-width: 0;
}

.featured-product-title {
  font-size: 2rem;
  flex: 1;
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.featured-product-rating {
  height: 50%;
  width: 120px;
  margin: auto 5px;
  text-align: right;
}

.featured-product-like-icon {
  margin-left: 0.5rem;
  margin-right: 1rem;
}

.featured-product-description {
  flex-grow: 100;
  margin: 5px 30px 5px 30px;
  padding: 0.3rem;
  border-radius: 5px;
  background-color: #f0f4fa;
}

.featured-product-user {
  text-align: right;
  margin: 5px;
  margin-right: 1rem;
}

@media screen and (max-width: 1100px) {
  .FeaturedProduct {
    width: 500px;
  }
  .featured-product-image {
    visibility: hidden;
    position: fixed;
  }
  .featured-product-information {
    border-radius: 8px;
    box-shadow: none;
  }
}

@media screen and (max-width: 650px) {
  .FeaturedProduct {
    width: 300px;
  }
}
