.Home {
  padding: 28px 0;
}

.home-container {
  width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  display: flex;
}

.home-product {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
}

.home-product-container {
  min-height: 600px;
  width: 100%;
  flex-grow: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-right: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-page-counter {
  flex-grow: 100;
  padding: 20px;
  text-align: center;
}

.item {
  height: 320px;
  width: 200px;
  margin: 20px;
}
