.Home {
  padding: 28px 0;
}

.home-container {
  width: 80%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.5);
}

.home-product {
  flex-grow: 100;
  display: flex;
  flex-direction: column;
  box-shadow: inset 0px 28px 29px -39px rgba(0, 0, 0, 0.5);
}

.home-product-container {
  min-height: 100px;
  width: 100%;
  flex-grow: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-right: 3rem;
  padding-left: 3rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-page-counter {
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 0 0 20px 20px;
  background-color: #f0f4fa;
  box-shadow: inset 0px 28px 29px -39px rgba(0, 0, 0, 0.5);
}

.home-page-curr {
  margin: 0 1rem 0 1rem;
}

.home-page-change {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.home-page-change:hover {
  transform: scale(1.04);
  transition: 0.5s ease;
}
.item {
  height: 320px;
  width: 200px;
  margin: 20px;
}
